.title {
  margin-bottom: 20px;
  font-size: 22px;
}

.wraper_btn {
  margin-bottom: 20px;
  padding: 10px;
}

.btn {
  padding: 5px;

  cursor: pointer;

  border: 1px solid grey;
  border-radius: 5px;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.good {
  background-color: rgb(155, 255, 172);
}
.neutral {
  background-color: rgb(255, 223, 155);
}
.bad {
  background-color: rgb(255, 155, 155);
}

.text {
  margin-bottom: 10px;
}

.result {
  font-weight: 600;
}
